<table class="table table-striped">
  <caption><%= t('.title') %></caption>
  <tr>
    <th><%= t('.word') %></th>
    <th><%= t('.translation') %></th>
    <th><%= t('.deck') %></th>
    <th><%= t('.review_date') %></th>
    <th></th>
    <th></th>
  </tr>
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.deck.name %></td>
      <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
      <td><%= link_to t('.edit_link'), edit_card_path(card.id) %></td>
      <td><%= link_to t('.delete_link'), card, method: :delete %></td>
    </tr>
  <% end %>
</table>
<br><br>
<%= link_to t('.add_link') , new_card_path %>
<br>
<%= link_to t('.batch_download') , batch_download_path %>