<h1><%= t('.title') %></h1>

<p><%= t('.email') %> <strong><%= @user.email %></strong></p>
<p><%= t('.language') %> <strong><%= @user.locale %></strong></p>
<br>
<br>
<%= link_to t('.edit'), edit_user_path(current_user.id) %>