<h1><%= t('user_profile') %></h1>

<p><%= t('user_profile_email') %> <strong><%= @user.email %></strong></p>
<p><%= t('user_profile_language') %> <strong><%= @user.locale %></strong></p>
<br>
<br>
<%= link_to t('edit_link_title'), edit_user_path(current_user.id) %>