<table class="table table-striped">
  <caption><%= t('cards_list') %></caption>
  <tr>
    <th><%= t('cards_list_word') %></th>
    <th><%= t('cards_list_translation') %></th>
    <th><%= t('cards_list_deck') %></th>
    <th><%= t('cards_list_review') %></th>
    <th></th>
    <th></th>
  </tr>
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.deck.name %></td>
      <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
      <td><%= link_to t('edit_link_title'), edit_card_path(card.id) %></td>
      <td><%= link_to t('delete_link_title'), card, method: :delete %></td>
    </tr>
  <% end %>
</table>
<br><br>
<%= link_to t('add_card_link') , new_card_path %>