<table class="table table-striped">
  <caption>Список карточек</caption>
  <tr>
    <th>Слово</th>
    <th>Перевод</th>
    <th>Дата пересмотра</th>
    <th></th>
    <th></th>
  </tr>
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
      <td><%= link_to "Редактировать", edit_card_path(card.id) %></td>
      <td><%= link_to "Удалить", card, method: :delete %></td>
    </tr>
  <% end %>
</table>