<h3><%= t('decks_list') %></h3>
<br>
<% @decks.each do |deck| %>
  <% if deck.current %>
    <p><strong><%= t('decks_list_current') %></strong></p>
  <% end %>
  <p>
    <h4><%= deck.name %></h4>
    <%= link_to t('edit_link_title'), edit_deck_path(deck.id) %>
    <%= link_to t('delete_link_title'), deck, method: :delete %>
  </p>
  <p><em><%= t('decks_list_cards') %></em></p>
  <ul>
    <% deck.cards.each do |card| %>
      <li><%= card.original_text %> - <%= card.translated_text %></li>
    <% end %>
  </ul>
  <br><br>
<% end %>
<%= link_to t('add_deck_link'), new_deck_path %>