<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to t('app_title'), root_path, class: "navbar-brand" %>
      </div>
      <div class="navbar-coolapse">
      <ul class="nav navbar-nav ">
      <% if !logged_in? %>
        <li>
          <%= link_to 'Eng', url_for( :locale => 'en' ) %>
        </li>
        <li>
          <%= link_to 'Рус', url_for( :locale => 'ru' ) %>
        </li>
      <% end %>
      </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
          <li>
            <%= link_to t('cards_link'), cards_path %>
          </li>
          <li>
            <%= link_to t('decks_link'), decks_path %>
          </li>
          <li>
            <%= link_to t('profile_link'), current_user %>
          </li>
          <li>
            <%= link_to t('log_out'), :logout, method: :post %>
          </li>
          <% else %>
          <li>
            <%= link_to t('register_link'), new_user_path %>
          </li>
          <li>
            <%= link_to t('log_in'), :login %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
    <%= yield %>
  </div>
  <footer class="footer navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <% if !logged_in? %>
          <%= link_to 'Eng /', url_for( :locale => 'en' ) %>
          <%= link_to 'Рус', url_for( :locale => 'ru' ) %>
      <% end %>
    </div>
  </footer>
</body>
</html>
